html,
body {
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: var(--next-color); // for nice overflow scrolling
  background-image: linear-gradient(
    135deg,
    var(--the-color) 0%,
    var(--next-color) 100%
  );
  transition: background-color 1s ease-out;

  &:not(.app-mounted) {
    background-color: #fff;
  }
}

body {
  padding: var(--body-border-width);
  background-color: transparent;
  color: var(--color-text);
  box-sizing: border-box;
  z-index: 1;
}

noscript {
  margin: 2rem auto;
  border-radius: 1rem;
  display: block;
  width: 100%;
  max-width: 20rem;
  text-align: center;
  background-color: rgb(182, 70, 70);
  color: white;
  font-weight: bold;
  font-size: 0.7em;
}

a {
  color: var(--color-link);
  text-decoration: underline;
  text-decoration-color: var(--grey-mid);
  transition: all 0.1s ease-out;
  -moz-outline-radius: 0.5rem;
}
a:hover {
  color: var(--the-color);
  text-decoration-color: inherit;
  //outline-offset: 3px;
}
a:focus {
  text-decoration-color: inherit;
  color: var(--the-color);
  outline-color: var(--the-color);
  outline-style: dotted;
  outline-offset: 2px;
  outline-width: 2px;
}
a:active:focus {
  text-decoration: none;
  color: var(--the-color);
  outline-color: var(--the-color);
  outline-style: dotted;
  outline-offset: 2px;
  outline-width: 1px;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
  font-weight: 900;
  display: block;
  margin-top: 2em;
  margin-bottom: 1rem;
}
h1 {
  font-size: 2.5rem;
  text-align: center;
}
h2 {
  font-size: 1.5rem;
  text-decoration: underline;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
  text-decoration: underline;
}
h5 {
  font-size: 1rem;
}

::selection {
  background-color: var(--the-color);
  color: #fff;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}
section > p,
section > p * {
  // hyphenation
  -ms-word-break: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

ol {
  padding: 0;
  padding-left: 1rem;
}

ul:not(.nav-ul) {
  list-style: none;
  position: relative;
  padding: 0;
  li {
    padding-left: 1.5em;
  }

  li:before {
    position: absolute;
    content: '›';
    font-weight: bold;
    color: var(--the-color);
    left: 0.5em;
  }
  // li {
  //   padding-left: 1em;
  //   text-indent: -0.75em;
  // }

  // li::before {
  //   content: '›';
  //   color: var(--the-color);
  //   display: inline-block;
  //   width: 0.5em;
  //   margin-left: -1em;
  // }
}

blockquote {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0 1rem;
  font-family: inherit;
  font-style: italic;
  width: 75%;
  //quotes: '„' '“';
  quotes: '»' '«';
  text-align: center;
  white-space: normal;
  hyphens: none;
  color: var(--color-text-light);
  font-size: 1.25rem;

  // p::before, p::after {
  //   //position: absolute;
  //   display: inline;
  //   font-size: 400%;
  //   line-height: 1rem;
  //   // margin-left: -0.5em;
  //   // margin-top: -0.7em;
  //   color: var(--grey-light);
  // }
  // p::before{
  //   //content: open-quote;
  // }
  // p::after{
  //   //content: close-quote;
  // }

  cite {
    font-style: normal;
    font-size: var(--font-size-small);
    text-align: center;
    width: 100%;
    float: left;
  }
  cite::before {
    content: '—\00a0\00a0';
    //position: absolute;
    //margin-left: -1.5em;
    display: inline;
  }
  cite::after {
    content: '\00a0\00a0—';
    /*position: absolute;*/
    //margin-right: 2em;
    display: inline;
  }
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: var(--font-size-small);
  letter-spacing: 0.01em;
  sup a {
    text-decoration: none;
    &::before {
      content: '[';
    }
    &:after {
      content: ']';
    }
  }
}

pre,
code {
  font-size: 90%;
  line-height: inherit;
  font-family: monospace;
  white-space: pre;
  background-color: var(--grey-mid);
  color: var(--grey-vlight);
  padding: 0 0.3em;
}
pre {
  display: block;
  margin: 1em 0;
}

kbd {
  font-size: 90%;
  line-height: inherit;
  white-space: pre;
  background-color: var(--grey-light);
  border-radius: 0.2em;
  padding: 0.1em 0.3em 0 0.3em;
  margin-right: 0.1em;
  //box-shadow: 0px 0px 0px 1px var(--grey-mid) inset;
  box-shadow: 0.1em 0.1em 0 0 var(--grey-mid);
}

mark {
  background-color: var(--the-color-trans);
  color: inherit;
}
