:root {
  // colors
  --red: rgba(221, 0, 0, 1);
  --red-dark: rgba(68, 0, 0, 1);
  --green: rgb(30, 138, 8);
  --green-dark: rgba(30, 109, 15, 1);
  --grey-light: rgba(248, 248, 248, 1);
  --grey-dark: rgba(66, 66, 66, 1);

  // colors in use
  --color-highlight: var(--green-dark);

  --color-headings: var(--grey-dark);
  --color-text: var(--grey-dark);
  --color-link: var(--green-dark);

  // other vars
  --shadow-btn: inset 0.2em 0.2em 0 0 hsla(0, 0%, 100%, 0.3);
  --font-size-small: 0.75rem;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  background-color: white;
  color: var(--color-text);
  font-size: 16px;
  line-height: 1.75; // =28px
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration-skip: ink;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: currentColor;
  color: var(--color-link);
  transition: all 0.1s ease-out;
}
a:hover {
  filter: brightness(0.5);
  outline-offset: 3px;
}
a:focus {
  filter: brightness(0.5);
  outline-style: dotted;
  outline-color: currentColor;
  outline-offset: 2px;
  outline-width: 1px;
}
a:active {
  filter: brightness(0.875);
  outline-style: dotted;
  outline-color: currentColor;
  outline-offset: 2px;
  outline-width: 2px;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
  font-weight: 900;
  //font-family: 'Arbutus Slab', serif;
}
h2,
h3 {
  text-decoration: underline;
}

// reset outline of inputs
input,
button,
textarea {
  outline: 0 !important;
}

::selection {
  background: var(--color-highlight);
  color: #fff;
}

img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: auto;
}

p,
span,
em,
b,
i {
  // hyphenation
  -ms-word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

pre,
code {
  font-family: monospace;
  white-space: pre;
  background: rgb(228, 228, 228);
}
pre {
  display: block;
  margin: 1em 0;
}

blockquote {
  font-family: inherit;
  font-style: italic;
  width: 75%;
  quotes: '»' '«';

  p::before {
    content: open-quote;
    position: absolute;
    font-size: 200%;
    font-size: 400%;
    margin-left: -0.5em;
    margin-top: -0.7em;
    opacity: 0.3;
  }

  cite {
    font-family: inherit;
    font-style: normal;
    font-size: var(--font-size-small);
    text-align: right;
    float: right;

    @include mq-sm {
      width: 80%;
    }
    @include mq-md {
      width: 60%;
    }
  }
  cite::before {
    content: '— ';
  }
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

kbd {
  white-space: pre;
  background: rgb(209, 209, 209);
  border-radius: 3px;
  padding: 0 3px;
  box-shadow: 0px 0px 0px 1px rgb(117, 117, 117) inset;
}
