html,
body {
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: var(--color-highlight);
  transition: all 300ms ease-out;

  &:not(.app-mounted) {
    background-color: #fff;
  }
}

body {
  padding: var(--body-border-width);
  background-color: transparent;
  color: var(--color-text);
  box-sizing: border-box;
  z-index: 1;
}

noscript {
  margin: 0 auto 1rem;
  display: block;
  width: 100%;
  text-align: center;
  background-color: rgb(182, 70, 70);
  color: white;
  font-weight: bold;
  font-size: 0.7em;
}

a,
//a:not([class]) //hack to overwrite vuetify color
 {
  color: var(--color-link);
  text-decoration: underline;
  text-decoration-color: var(--grey-mid);
  transition: all 0.1s ease-out;
}
a:hover {
  color: var(--color-highlight);
  text-decoration-color: inherit;
  outline-offset: 3px;
}
a:focus {
  text-decoration-color: inherit;
  color: var(--color-highlight);
  outline-color: var(--color-highlight);
  outline-style: dotted;
  outline-offset: 2px;
  outline-width: 1px;
}
a:active {
  text-decoration: none;
  color: var(--color-highlight);
  outline-color: var(--color-highlight);
  outline-style: dotted;
  outline-offset: 2px;
  outline-width: 2px;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
  font-weight: 900;
  display: block;
  margin-top: 2em;
  margin-bottom: 1rem;
}
h1 {
  font-size: 2.5rem;
  text-align: center;
}
h2 {
  font-size: 1.5rem;
  text-decoration: underline;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
  text-decoration: underline;
}
h5 {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
p {
  margin-top: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

// reset outline of inputs
input,
button,
textarea {
  outline: 0 !important;
}

::selection {
  background-color: var(--color-highlight);
  color: #fff;
}

img {
  // &:not(.medium-zoom-image--open){
  //   outline: 1px solid #ddd;
  // }
  &[lazy='loading'] {
    max-height: 16em;
    max-width: 16em;
  }
}

section > p,
section > p > * {
  // hyphenation
  -ms-word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

pre,
code {
  font-family: monospace;
  white-space: pre;
  background: rgb(228, 228, 228);
}
pre {
  display: block;
  margin: 1em 0;
}

blockquote {
  margin-top: 3rem;
  margin-bottom: 3rem;
  //padding-left: 1.75em;
  font-family: inherit;
  font-style: italic;
  width: 75%;
  quotes: '»' '«';
  text-align: center;
  white-space: normal;

  p::before {
    content: open-quote;
    position: absolute;
    font-size: 200%;
    font-size: 400%;
    margin-left: -0.5em;
    margin-top: -0.7em;
    color: var(--grey-light);
  }

  cite {
    font-family: inherit;
    font-style: normal;
    font-size: var(--font-size-small);
    text-align: center;
    width: 100%;
    float: left;
    hyphens: none;
  }
  cite::before {
    content: '— ';
    position: absolute;
    margin-left: -1.5em;
  }
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: var(--font-size-small);
  letter-spacing: 0.01em;
  sup a {
    text-decoration: none;
    &:before {
      content: '[';
    }
    &:after {
      content: ']';
    }
  }
}

kbd {
  white-space: pre;
  background: rgb(209, 209, 209);
  border-radius: 3px;
  padding: 0 3px;
  box-shadow: 0px 0px 0px 1px rgb(117, 117, 117) inset;
}

mark {
  background-color: var(--grey-light);
  color: inherit;
}
