:root {
  // --sm-width: 568px; /* 35.5em; */
  // --md-width: 768px; /* 28em; */
  // --lg-width: 1024px; /* 64em; */
  // --xl-width: 1280px; /* 80em; */

  --red: #dd0000;
  --red-dark: #440000;
  --green: #269610;
  --green-dark: #1e6d0f;
  --grey-light: #f8f8f8;
  --grey-dark: #424242;

  --color-highlight: var(--green-dark);
  --color-text: var(--grey-dark);

  --shadow-btn: inset 0.2em 0.2em 0 0 hsla(0, 0%, 100%, 0.3);
}

html,
body,
.site {
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  background-color: white;
  color: var(--color-text);
  font-size: 16px;
  line-height: 28px;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

// remove underlining from links
a,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: currentColor;
  text-decoration-skip: ink;
}
a:hover {
  text-decoration: underline;
  color: var(--color-highlight);
}
a:active {
  filter: brightness(0.875);
}

// reset outline of inputs
input,
button,
textarea {
  outline: 0 !important;
}

::selection {
  background: var(--color-highlight);
  color: #fff;
}

:focus {
  outline-style: dotted;
  outline-width: 3px;
  outline-offset: 2px;
  outline-color: var(--color-highlight);

  .js-focus-ring &:not(.focus-ring) {
    outline: none;
  }
}

img {
  max-width: 100%;
}

p,
span,
em,
b,
i {
  // hyphenation
  -ms-word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

pre, code {
  font-family: monospace;
  white-space: pre;
  background: rgb(228, 228, 228);
}
pre {
  display: block;
  margin: 1em 0;
}
