html,
body {
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: var(--color-highlight); // TODO: dynamic 
}

body {
  padding: calc(var(--body-border-width, 4px) + .5vw);
  padding-bottom: 2rem;
  background-color: transparent;
  color: var(--color-text);
  font-size: 16px;
  line-height: 1.75; // =28px
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
  text-decoration-skip: ink;
  z-index: 1;
}

noscript {
  margin: 0 auto 1rem;
  display: block;
  width: 100%;
  text-align: center;
  background-color: rgb(182, 70, 70);
  color: white;
  font-weight: bold;
  font-size: 0.7em;
}

a {
  text-decoration: underline;
  color: var(--color-link);
  transition: all 0.1s ease-out;
}
a:hover {
  //filter: brightness(0.5);
  color: var(--color-highlight);
  outline-offset: 3px;
}
a:focus {
  outline-style: dotted;
  outline-color: currentColor;
  outline-offset: 2px;
  outline-width: 1px;
}
a:active {
  outline-style: dotted;
  outline-color: currentColor;
  outline-offset: 2px;
  outline-width: 2px;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
  font-weight: 900;
  display: inline-block;
  //font-family: 'Arbutus Slab', serif;
}
h1 {
  font-size: 2rem;
  // color: #fff;
  // background-color: var(--color-highlight);
}
h2 {
  font-size: 1.5rem;
  text-decoration: underline;
}
h3 {
  font-size: 1.3rem;
  margin-bottom: 0;
}
h4 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-bottom: 0;
}
p{
  margin-top: .5em;
  margin-bottom: 1em;
}

// reset outline of inputs
input,
button,
textarea {
  outline: 0 !important;
}

::selection {
  background-color: var(--color-highlight);
  color: #fff;
}

img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: auto;
}

p,
span,
em,
b,
i {
  // hyphenation
  -ms-word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

pre,
code {
  font-family: monospace;
  white-space: pre;
  background: rgb(228, 228, 228);
}
pre {
  display: block;
  margin: 1em 0;
}

blockquote {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: inherit;
  font-style: italic;
  width: 75%;
  quotes: '»' '«';

  p::before {
    content: open-quote;
    position: absolute;
    font-size: 200%;
    font-size: 400%;
    margin-left: -0.5em;
    margin-top: -0.7em;
    opacity: 0.3;
  }

  cite {
    font-family: inherit;
    font-style: normal;
    font-size: var(--font-size-small);
    text-align: right;
    float: right;

    @include mq-sm {
      width: 80%;
    }
    @include mq-md {
      width: 60%;
    }
  }
  cite::before {
    content: '— ';
  }
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

kbd {
  white-space: pre;
  background: rgb(209, 209, 209);
  border-radius: 3px;
  padding: 0 3px;
  box-shadow: 0px 0px 0px 1px rgb(117, 117, 117) inset;
}
