// global @extend classes

.ext-nice-scrollbar {
  &::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }
  &::-webkit-scrollbar-button {
    &:vertical,
    &:start:decrement,
    &:end:increment {
      display: block;
    }
    &:vertical {
      &:start:increment,
      &:end:decrement,
      &:increment,
      &:decrement {
        display: none;
      }
    }
  }
  &::-webkit-scrollbar-track:vertical {
    display: none;
  }
  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb:vertical {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 6px;
  }
  &:hover::-webkit-scrollbar-thumb:vertical {
    background-color: rgba(0, 0, 0, 0.13);
  }
  &::-webkit-scrollbar-corner:vertical,
  &::-webkit-scrollbar-resizer:vertical {
    background-color: transparent;
  }
}