body a {
  color: inherit; // vuetify hack XXXX
}

.medium-zoom-overlay {
  opacity: 0;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 250ms var(--transition-curve1),
    border-radius 500ms var(--transition-curve1),
    opacity 300ms var(--transition-curve1);
  border-radius: 0;
  margin: var(--body-border-width);
  &::after {
    content: '✕';
    color: var(--grey-mid);
    font-size: 2em;
    position: absolute;
    right: 1rem;
    top: 0;
    cursor: pointer;
  }
}
.medium-zoom--open .medium-zoom-overlay {
  opacity: 1;
  // background-color: rgba(192,192,192,.93);
  box-shadow: 0 0 0 5vw var(--color-highlight);
  border-radius: 1rem;
}

.medium-zoom-image {
  z-index: 101;
  padding: calc(var(--body-border-width) * 2);
  &[lazy="loading"]{
    pointer-events: none;
  }
}
.medium-zoom--open .medium-zoom-image--open {
  z-index: 101;
}

// body:not(.medium-zoom--open) .medium-zoom-image--open {
// display: none;
// opacity: 0;
// pointer-events: none;
// border: 2px dashed red;
// }
