
// lazy-loading images with nice transition

img {
  &[lazy='loading'] {
    margin: auto;
    pointer-events: none;
    height: 16rem;
    width: 22rem;
    max-width: 100%;
    max-height: 100%;
    background-color: var(--grey-vlight);
    padding: 1rem;
    cursor: progress;
    animation-name: breathing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: var(--transition-curve1);
    @keyframes breathing {
      0% {
        opacity: 0.1;
      }
      100% {
        opacity: 1;
      }
    }
  }
  &[lazy='loaded']:not(.medium-zoom-image--open) {
    animation-name: fadein;
    animation-duration: 1s; // actually feels faster
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-direction: normal;
    animation-timing-function: ease-out;
    @keyframes fadein {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  &[lazy='error'] {
    content: 'loading error';
    background: lightcoral;
  }
}

// medium zoom

.medium-zoom-image {
  z-index: 101;
  &:active {
    opacity: 0.7;
    outline-style: dotted;
    outline-offset: 2px;
    outline-width: 1px;
    outline-color: var(--the-color);
  }
}
.medium-zoom--open .medium-zoom-image--open {
  z-index: 101;
  outline-width: 0;
}

.medium-zoom-overlay {
  background-color: #fff;
  z-index: 100;
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 250ms var(--transition-curve1),
    border-radius 500ms var(--transition-curve1),
    opacity 300ms var(--transition-curve1);
  will-change: opacity;
  border-radius: 0;
  margin: var(--body-border-width);
  &::after {
    content: '✕';
    color: var(--grey-light);
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 0.2rem;
    cursor: pointer;
  }
}
.medium-zoom--open .medium-zoom-overlay {
  box-shadow: 0 0 0 5vw var(--the-color);
  border-radius: 1rem;
}

// body:not(.medium-zoom--open) .medium-zoom-image--open {
// display: none;
// opacity: 0;
// pointer-events: none;
// border: 2px dashed red;
// }


.figure__gifzoom {
  // position: relative;
  // // ToDo: show this only afer img child has loaded [lazy='loaded']
  // &::after {
  //   content: '▶';
  //   //text-shadow: 0 0 5em #fff;
  //   font-size: 3rem;
  //   position: absolute;
  //   top: 45%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   pointer-events: none;
  // }
  // &:hover::after {
  //   color: var(--the-color);
  // }
}