.site {
  min-height: 100vh;
  width: 100%;
}

.page-wrapper {
  //background-color: rgb(240, 240, 240);
  position: relative;
  max-width: 80vw;
  margin: 0 auto;
}

$content-skinny: 22rem;
$content-narrow: 38rem;
$content-mid: 42rem;
$content-full: 50rem;

.page {
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: $content-full;

  section {
    * {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: $content-full;
    }
  
    p,
    h3,
    h4 {
      max-width: $content-narrow;
      display: block;
    }
  
    h1,
    h2 {
      max-width: $content-mid;
    }
    ul, ol {
      max-width: $content-narrow;
    }
    blockquote, .standout {
      max-width: $content-skinny;
    }
  }

}

/*
** figures and figcaptions
*/

figure {
  margin: 2em 0;
  display: inline-block;
}

figcaption {
  padding-top: 0.5em;
  text-align: center;
  font-style: italic;
  color: gray;
  font-size: var(--font-size-small);
}

.align-left {
  width: 50%;
  margin-right: 1em;
  float: left;

  ~ figcaption {
    text-align: left;
  }
}

.align-right {
  width: 50%;
  margin-left: 1em;
  float: right;

  ~ figcaption {
    text-align: right;
  }
}

.align-half {
  grid-column: wide;
}

.align-full {
  grid-column: full;
}
