.site {
  min-height: 100vh;
  width: 100%;
}

.page-wrapper {
  //background-color: rgb(240, 240, 240);
  position: relative;
  max-width: 80vw;
  margin: 0 auto;
}

$content-tiny: 12rem;
$content-thin: 22rem;
$content-normal: 38rem;
$content-wide: 42rem;
$content-full: 50rem;

.page {
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: $content-full;

  .ext-content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .content-tiny {
    @extend .ext-content;
    max-width: $content-tiny;
  }
  .content-thin {
    @extend .ext-content;
    max-width: $content-thin;
  }
  .content-normal {
    @extend .ext-content;
    max-width: $content-normal;
  }
  .content-wide {
    @extend .ext-content;
    max-width: $content-wide;
  }
  .content-full {
    @extend .ext-content;
    max-width: $content-wide;
  }
  .content-half {
    width: 50%;
    // @include cf;
  }

  section {
    > * {
      @extend .ext-content;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5 {
      max-width: $content-normal;
    }

    ul,
    ol {
      max-width: $content-normal;
    }
    blockquote,
    .md-container-standout {
      max-width: $content-thin;
    }
  }

  .footnotes-sep,
  .footnotes,
  .ext-md-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: $content-normal;
  }
}

/*
** figures and figcaptions
*/

figure {
  margin: 2em 0;
  display: block;
}

figcaption {
  padding-top: 0.5em;
}

img,
video {
  max-width: inherit;
}
/*
figure.inline {
  display: inline-block;
}
.align-left {
  width: 50%;
  margin-right: 1em;
  float: left;

  ~ figcaption {
    text-align: left;
  }
}

.align-right {
  width: 50%;
  margin-left: 1em;
  float: right;

  ~ figcaption {
    text-align: right;
  }
}

.align-half {
  grid-column: wide;
}

.align-full {
  grid-column: full;
}
*/
