/*
** classes applied by markdownit
*/

// md containers
.ext-md-container {
  margin-top: 1em;
  padding: 1em;
  border-radius: 0.75em;
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}
.md-container-standout {
  // unused
  @extend .ext-md-container;
  background: var(--the-color-trans);
}
.md-container-more {
  @extend .ext-md-container;
  background: var(--the-color-trans);
}

// Footnotes
.footnotes-sep {
  display: none;
}
.footnotes {
  margin-top: 1em;
  padding: 0em;
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
  &::before {
    font-weight: bold;
    margin-top: 0;
    content: 'Einzelnachweise';
    display: inline-block;
    font-size: var(--font-size-small);
  }
  // &.footnotes--hidden {
  //   &::before {
  //     margin-bottom: 0;
  //   }
  //   ol {
  //     display: none;
  //   }
  // }
  // &-list {
  // }
  .footnote-item {
    font-size: var(--font-size-small);
    padding-left: 0.5em;
    p {
      margin: 0;
    }
  }
}

.footnote-ref a {
  color: var(--color-text-light);
  text-decoration: none;
}
.footnote-ref a:hover {
  color: var(--the-color);
}

.footnote-backref {
  text-decoration: none;
  color: transparent;
  &::before {
    content: '⤴';
    position: absolute;
    margin-left: 0.4em;
    color: var(--color-text-light);
  }
  &:hover,
  &:active,
  &:focus,
  &:focus:active {
    color: transparent;
    &::before {
      color: var(--the-color);
      transform: translateY(-0.2em);
    }
    &::after {
      color: var(--the-color);
      position: absolute;
      margin-left: 0.6em;
      content: ' zur\FC' 'ck zum Text';
      // webpack or sass or something else behaves weird and inserts a space afer 'ü'. this hack solves it...
      //content: 'zurück'; // is converted to 'zur\FC ck' and redered as 'zurü ck'
    }
  }
}
