/*
** classes applied by markdownit
*/

.standout {
  background: var(--grey-light);
  padding: .5em;
  border-radius: .5em;
}

.footnotes-sep {
  $border-color: #777; // = var(--grey-mid);
  margin-top: 3em;
  height: 0.25em;
  border-top-style: solid;
  border-top-color: lighten($border-color, 20%);
  border-bottom-style: dashed;
  border-bottom-color: $border-color;
  border-left: none;
  border-right: none;
  border-width: 1px;
}
.footnotes {
  font-size: var(--font-size-small);
  color: var(--color-text-light);

  ol {
    padding: 0 0 0 1em;
  }

  p {
    margin: 0;
  }
}

.footnote-ref a {
  color: inherit;
}
.footnote-ref a:hover {
  color: var(--color-highlight);
}

// webpack or sass or something else behaves weird and inserts a space afer 'ü'. this hack solves it...
//content: 'zurück'; // is converted to 'zur\FC ck' and redered as 'zurü ck'
.footnote-backref:hover::after,
.footnote-backref:focus::after {
  content: ' zur\FC' 'ck';
}
