/*
 * mixins for media queries
 using same widths as vuetify
*/

$sm-width: 600px;
$md-width: 960px;
$lg-width: (1280px - 16px); // Desktop gets a 16dp reduction
$xl-width: (1920px - 16px);

@mixin grid {
  @supports (grid-area: auto) {
    @content;
  }
}

@mixin cf {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin mq-sm {
  @media (min-width: #{$sm-width}) {
    @content;
  }
}

@mixin reduced-motion {
  @media screen and (prefers-reduced-motion: reduce) {
    @content;
  }
}

@mixin mq-md {
  @media (min-width: #{$md-width}) {
    @content;
  }
}

@mixin mq-lg {
  @media (min-width: #{$lg-width}) {
    @content;
  }
}

@mixin mq-xl {
  @media (min-width: #{$xl-width}) {
    @content;
  }
}

@mixin mq-sm-only {
  @media (min-width: #{$sm-width}) and (max-width: #{$md-width - 1px}) {
    @content;
  }
}

@mixin mq-md-only {
  @media (min-width: #{$md-width}) and (max-width: #{$lg-width - 1px}) {
    @content;
  }
}

@mixin mq-lg-only {
  @media (min-width: #{$lg-width}) and (max-width: #{$xl-width - 1px}) {
    @content;
  }
}

// @extend classes

.ext-nice-scrollbar {
  &::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }
  &::-webkit-scrollbar-button {
    &:vertical,
    &:start:decrement,
    &:end:increment {
      display: block;
    }
    &:vertical {
      &:start:increment,
      &:end:decrement,
      &:increment,
      &:decrement {
        display: none;
      }
    }
  }
  &::-webkit-scrollbar-track:vertical {
    display: none;
  }
  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb:vertical {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 6px;
  }
  &:hover::-webkit-scrollbar-thumb:vertical {
    background-color: rgba(0, 0, 0, 0.13);
  }
  &::-webkit-scrollbar-corner:vertical,
  &::-webkit-scrollbar-resizer:vertical {
    background-color: transparent;
  }
}
