/*
 * mixins for media queries
 using same widths as vuetify
*/

$sm-width: 600px;
$md-width: 960px;
$lg-width: (1280px - 16px); // Desktop gets a 16dp reduction
$xl-width: (1920px - 16px);

@mixin grid {
  @supports (grid-area: auto) {
    @content;
  }
}

@mixin cf {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin reduced-motion {
  @media screen and (prefers-reduced-motion: reduce) {
    @content;
  }
}

@mixin mq-sm {
  @media (min-width: #{$sm-width}) {
    @content;
  }
}

@mixin mq-md {
  @media (min-width: #{$md-width}) {
    @content;
  }
}

@mixin mq-lg {
  @media (min-width: #{$lg-width}) {
    @content;
  }
}

@mixin mq-xl {
  @media (min-width: #{$xl-width}) {
    @content;
  }
}

// @mixin mq-sm-only {
//   @media (min-width: #{$sm-width}) and (max-width: #{$md-width - 1px}) {
//     @content;
//   }
// }

// @mixin mq-md-only {
//   @media (min-width: #{$md-width}) and (max-width: #{$lg-width - 1px}) {
//     @content;
//   }
// }

// @mixin mq-lg-only {
//   @media (min-width: #{$lg-width}) and (max-width: #{$xl-width - 1px}) {
//     @content;
//   }
// }

