/*
* page transitions
*/

.page-leave-active {
  transition: all 0.25s var(--transition-curve1);
}
.page-enter-active {
  transition: all 0.5s var(--transition-curve1);
}
.page-enter{
  opacity: 0;
  transform: translate(0, 1em);
}
.page-leave-to {
  opacity: 0;
}

