/*
* page transitions
*/
.page {
  will-change: transform;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.page-leave-active {
  transition: all 230ms var(--transition-curve1);
}
.page-enter-active {
  transition: all 330ms var(--transition-curve1);
}
.page-enter {
  opacity: 0;
  transform: translate3d(0, -1em, 0);
  @include reduced-motion {
    transform: none;
  }
}
.page-leave-to {
  opacity: 0;
  transform: translate3d(0, 0.3em, 0);
  @include reduced-motion {
    transform: none;
  }
}
