:root {
  // --- VARIABLES ---
  // color values
  --grey-dark: #424242;
  --grey-mid: #777;
  --grey-light: #ebe6df;
  --grey-vlight: #f1ece5;
  --white-bg: #fafafa;

  --color-start: hsl(133, 47%, 43%); //#276D36

  // colors in use
  --the-color: var(--color-start); // hightlight color of current page
  --next-color: var(--color-start); // hightlight color next current page

  --color-headings: var(--grey-dark);
  --color-text: var(--grey-dark);
  --color-text-light: var(--grey-mid);
  --color-link: var(--grey-dark);

  // other vars
  --font-size-small: 0.75rem;
  --body-border-width: calc(3px + 0.5vw);
  
  --transition-curve1: cubic-bezier(0.25, 0.8, 0.5, 1);
  // --shadow-btn: inset 0.2em 0.2em 0 0 hsla(0, 0%, 100%, 0.3);
}
