:root {
  // colors
  //--green: rgb(30, 138, 8);
  //--green-dark: rgba(30, 109, 15, 1); //#1e6d0f // remove
  //--green-trans: rgba(117, 221, 69, 0.411); //#1e6d0f // remove
  --grey-mid: #777;
  --grey-light: #ebe6df;
  --grey-vlight: #f1ece5;
  --grey-dark: #424242;
  --white-bg: #fafafa;
  // loading spinner grey: #dad5d3

  --color-start: hsl(143, 47%, 43%); //3AA162

  // colors in use
  --color-highlight: var(--color-start);

  --color-headings: var(--grey-dark);
  --color-text: var(--grey-dark);
  --color-text-light: var(--grey-mid);
  --color-link: var(--grey-dark);

  // other vars
  // --shadow-btn: inset 0.2em 0.2em 0 0 hsla(0, 0%, 100%, 0.3);
  --font-size-small: 0.75rem;
  --body-border-base-width: 3px;
  --body-border-width: calc(var(--body-border-base-width) + 0.5vw);

  --transition-curve1: cubic-bezier(0.25, 0.8, 0.5, 1);
}
